.blog-posts {
    margin: 10px 5px 10px 5px;
}

#calendar-icon {
    opacity: 0.2;
    color: var(--orange);
    margin-right: 10px;
}

.post-sub-text {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    opacity: 0.5;
}

.blog-posts .category {
    margin: auto;
    width: 55px;
    margin-top: 20px;
}

.post-text {
    margin-left: 25px;
}

.main-post-img {
    width: 70%;
    margin: 10px;
    border-radius: 10%;  
}

.post-img,
.post-title,
.post-1 {
    text-align: center;
}



@media (min-width: 768px) {

    .blog-posts .category {
        width: 70px;
    }

    .post-text {
        margin: 20px 50px;
    }

    .post-img{
        text-align: center;
    }
}

@media (min-width: 1024px) {

    .blog-posts {
        margin: 100px;
    }

    .post-sub-text {
        justify-content: space-evenly;
    }

    .blog-posts .category {
        width: 80px;
    }

    .main-post-img {
        width: 55%;
    }

    .post-text {
        text-align: justify;
        width: 70%;
        margin: auto;
    }

    .post,
    .post-img {
        text-align: center;
    }
}