.blog-posts {
    margin: 10px 5px 10px 5px;
}

#calendar-icon {
    opacity: 0.2;
    color: var(--orange);
    margin-right: 10px;
}

.post-sub-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    opacity: 0.5;
}

.post-sub-text ul {
    display: flex;
}

.post-sub-text ul li {
    margin-right: 10px;
}

.blog-posts .category {
    margin: auto;
    width: 55px;
    margin-top: 20px;
}

.post-text {
    margin-left: 25px;
}

.main-post-img {
    width: 70%;
    margin: 10px;
    border-radius: 10%;  
}

.post-img,
.post-title,
.post-1 {
    text-align: center;
}




@media (min-width: 768px) {

    .blog-posts .category {
        width: 70px;
    }

    .post-text {
        margin: 20px 50px;
    }

    .post-img{
        text-align: center;
    }
}

@media (min-width: 1024px) {

    .grid-container {
        display: grid;
        grid-template-columns: 3fr 1fr;
    }

    .blog-posts {
        margin: 100px;
    }

    .post-1 {
        grid-area: blog;
    }

    .sidebar-links {
        margin-top: 200px;
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 15;
        height: 100vh;
    }

    .sb {
        position: fixed;
    }

    .post-sub-text {
        justify-content: space-evenly;
    }

    .blog-posts .category {
        width: 80px;
    }

    .main-post-img {
        width: 55%;
    }

    .post-text {
        text-align: justify;
        width: 70%;
        margin: auto;
    }

    .post,
    .post-img {
        text-align: center;
    }
}