@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');
@import url(about.css);
@import url(blog.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --links: #F57513;
}

body {
    font-family: 'Oswald', sans-serif;
}

a {
    text-decoration: none;
    color: var(--links);
}

ul {
    list-style: none;
}


/* navigation style  */
.nav-main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-links {
    padding: 10px;
}


/* featured section  */
.featured {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px repeat(3, 100px) 200px;
    justify-content: center;
    grid-gap: 10px;
    margin-top: 20px;
}

#ft-content {
    width: 80%;
    height: 100%;
    margin: auto;
    border-radius: 5%;
}


.feature-article-1 {
    background-image: url(../images/life.jpg);
    background-repeat: no-repeat;
}

.feature-article-2 {
    background-image: url(../images/cheese.jpg);
    background-repeat: no-repeat;
}

.feature-article-3 {
    background-image: url(../images/breakfast.jpg);
    background-repeat: no-repeat;
}

.feature-article-4 {
    background-image: url(../images/beach.jpg);
    background-repeat: no-repeat;
}

.feature-article-5 {
    background-image: url(../images/bacon.jpg);
    background-repeat: no-repeat;
}

.article-info-large {
    position: relative;
    top: 100px;
    left: 20px;
    color: var(--links);
}

.article-info-small {
    position: relative;
    top: 20px;
    left: 20px;
    color: var(--links);
}

/* latest posts section  */

.latest-posts {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    grid-gap: 30px;
}

.latest-img {
    width: 300px;
    height: 200px;
    border-radius: 5%;
}

.latest-header {
    margin: 45px 0px 20px 50px;
}

#latest-content {
    width: 80%;
    height: 100%;
    margin: auto;
}

.latest-summary {
    opacity: 0.5;
}

.category {
    background-color: var(--links);
    border-radius: 10%;
    width: 19%;
    color: white;
}

#author-icon {
    opacity: 0.2;
    color: var(--links);
    margin-right: 10px;
}

/* footer section  */

#footer {
    background-color: var(--links);
    margin-top: 50px;
    text-align: center;
    height: 100px;
}

.footer-main-links {
    color: white;
    margin: 0px 20px;
    font-size: 20px;
}

.footer-nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}