.main-bg {
    width: 90%;
    height: 100%;
    position: relative;
    top: 10px;
    display: flex;
    flex-direction: column;
    margin: auto;
    color: white;
}

.join {
    color: var(--orange);
}

.left, 
.right {
    padding: 50px;
}

.main-bg h2 {
    padding: 10px;
    text-align: center;
}

.sub-form {
    text-align: center;
}

.sub-form input {
    margin: 10px;
    font-size: 16px;
}

label {
    font-size: 24px;
}

.long,
.short {
    width: 350px;
    height: 40px;
    margin: auto;
}


.form-gender {
    text-align: center;
    color: var(--orange);
}

.s-btn {
    width: 350px;
    height: 50px;
    font-size: 32px;
    background-color: var(--orange);
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.s-btn:hover {
    background-color: #a5532b;
}

.sub-image {
    text-align: center;
}

.form-name,
.form-email,
.form-dob {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subscribe-image {
    width: 350px;
}

.subscribe-image,
.sign-up-btn {
    position: relative;
    left: -45px;
}


@media (min-width:1024px) {

    .main-bg {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .subscribe-image {
        width: 500px;
        height: 450px;
    }
}

